<template name="prices">
  {{#if currentUser}}
    <h1 class="text-center page-header" style="margin-top: 0">For buyers</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>BitPay USD price</th>
          <th>BitPay USD/CAD</th>
          <th>BitPay CAD price</th>
          <th>Percentage</th>
          <th>Buy price</th>
          <th>Flat fee</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {{#each prices}}
        <tr>
          <td>{{formatPrice bitpay_btc_to_usd}} USD</td>
          <td>{{formatUSDCAD bitpay_usd_to_cad}} CAD</td>
          <td>{{formatPrice bitpay_btc_to_cad}} CAD</td>
          <td>{{percentage_fee_for_buyers}} %</td>
          <td>{{formatPrice buy_price}} CAD</td>
          <td>{{flat_fee_for_buyers}} $</td>
          <td>{{livestamp createdAt}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <h1 class="text-center page-header" style="margin-top: 0">For sellers</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>BitPay USD price</th>
          <th>BitPay USD/CAD</th>
          <th>BitPay CAD price</th>
          <th>Percentage</th>
          <th>Sell price</th>
          <th>Flat fee</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {{#each prices}}
        <tr>
          <td>{{formatPrice bitpay_btc_to_usd}} USD</td>
          <td>{{formatUSDCAD bitpay_usd_to_cad}} CAD</td>
          <td>{{formatPrice bitpay_btc_to_cad}} CAD</td>
          <td>{{percentage_fee_for_sellers}} %</td>
          <td>{{formatPrice sell_price}} CAD</td>
          <td>{{flat_fee_for_sellers}} $</td>
          <td>{{livestamp createdAt}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</template>
