<template name="admin">
  <nav class="navbar navbar-default" style="margin-top: 10px">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Ticker</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <h1 class="text-center">Admin area</h1>
  {{#if currentUser}}
    <h3>Settings</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-inline editBrokerageFee">
          <div class="form-group">
            <label class="sr-only" for="brokerageFee">Brokerage fee</label>
            <div class="input-group">
              <input type="number" step="0.01" class="form-control" name="brokerageFee" value="{{latestprice.brokerageFee}}" placeholder="Brokerage fee">
              <span class="input-group-addon">%</span>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Price history</div>
      <table class="table">
        <thead>
          <tr>
            <th>Bitcoin Embassy (BTC / CAD)</th>
            <th>Brokerage Fee</th>
            <th>BitPay (BTC / CAD)</th>
            <th>BitPay (BTC / USD)</th>
            <th>BitPay (USD / CAD)</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          {{#each prices}}
          <tr>
            <th>{{formatPrice btcmbcCAD}} CAD</th>
            <td>{{brokerageFee}} %</td>
            <td>{{formatPrice bitpayCAD}} CAD</td>
            <td>{{formatPrice bitpayUSD}} USD</td>
            <td>{{formatPrice bitpayUSD_CAD}} CAD</td>
            <td>{{livestamp createdAt}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
</template>
