<template name="admin">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Ticker</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <h1 class="text-center">Admin area</h1>
  {{#if currentUser}}
    {{#if admin}}
      <h3>Settings</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-inline editBrokerageFee">
            <div class="form-group">
              <label class="sr-only" for="brokerageFee">Brokerage fee</label>
              <div class="input-group">
                <input type="number" step="0.01" class="form-control" name="brokerageFee" value="{{brokerageFee}}" placeholder="Brokerage fee">
                <span class="input-group-addon">%</span>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Price history</div>
        <table class="table">
          <thead>
            <tr>
              <th>Bitcoin Embassy (CAD)</th>
              <th>Brokerage Fee (%)</th>
              <th>BitPay (CAD)</th>
              <th>BitPay (USD)</th>
              <th>BitPay (USD / CAD)</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            {{#each prices}}
            <tr>
              <th>{{btcmbcCAD}}</th>
              <td>{{brokerageFee}}</td>
              <td>{{bitpayCAD}}</td>
              <td>{{bitpayUSD}}</td>
              <td>{{bitpayUSD_CAD}}</td>
              <td>{{livestamp createdAt}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      <p>
        You need to verify your email address (click on the link in the email
        you received from no-reply@meteor.com).
      </p>
    {{/if}}
  {{/if}}
</template>
