<template name="settings">
  <h1 class="text-center page-header" style="margin-top: 0">Settings</h1>
  <h2 class="text-center" id="price" style="font-size: 10vw; margin-bottom: 20px;">
    {{formatPrice price.btcmbcCAD}}
  </h2>
  {{#if currentUser}}
    <div class="row" style="margin-bottom: 20px">
      <div class="col-lg-3 col-lg-offset-3">
        <div class="input-group input-group-lg" style="margin-bottom: 20px">
          <input type="number" class="form-control" step ="0.01" id="percentageFee" value="{{price.percentageFee}}" placeholder="Percentage fee">
          <span class="input-group-addon">%</span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="input-group input-group-lg">
          <input type="number" class="form-control" step ="0.0001" id="flatFee" value="{{currentUser.profile.flatFee}}" placeholder="Flat fee">
          <span class="input-group-addon">$</span>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="btn-group btn-group-justified btn-group-lg" role="group">
          <a href="#" class="btn btn-primary disabled" role="button" id="buy">Buy</a>
          <a href="#" class="btn btn-default" role="button" id="sell">Sell</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="btn-group btn-group-justified btn-group-lg" role="group">
          <a href="#" class="btn btn-success disabled" role="button" id="open">Open</a>
          <a href="#" class="btn btn-default" role="button" id="closed">Closed</a>
        </div>
      </div>
    </div>
  {{/if}}
</template>
