<template name="settings">
  {{#with price}}
    <h1 class="text-center page-header" style="margin-top: 0">Buy price</h1>
    <h2 class="text-center" id="price" style="font-size: 8vw; margin-bottom: 20px;">
      {{formatPrice buy_price}}
    </h2>
    {{#if currentUser}}
      <div class="row" style="margin-bottom: 20px">
        <div class="col-lg-4 col-lg-offset-2">
          <div class="input-group input-group-lg" style="margin-bottom: 20px">
            <input type="number" class="form-control" step ="0.01" id="percentage-above-bitcoin-price" value="{{percentage_above_bitcoin_price}}" placeholder="Percentage">
            <span class="input-group-addon">%</span>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="input-group input-group-lg">
            <input type="number" class="form-control" step ="0.0001" id="flat-fee-for-buyers" value="{{flat_fee_for_buyers}}" placeholder="Flat fee">
            <span class="input-group-addon">$</span>
          </div>
        </div>
      </div>
    {{/if}}
    <h1 class="text-center page-header" style="margin-top: 0">Sell price</h1>
    <h2 class="text-center" id="price" style="font-size: 8vw; margin-bottom: 20px;">
      {{formatPrice sell_price}}
    </h2>
    {{#if currentUser}}
      <div class="row" style="margin-bottom: 20px">
        <div class="col-lg-4 col-lg-offset-2">
          <div class="input-group input-group-lg" style="margin-bottom: 20px">
            <input type="number" class="form-control" step ="0.01" id="percentage-below-bitcoin-price" value="{{percentage_below_bitcoin_price}}" placeholder="Percentage">
            <span class="input-group-addon">%</span>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="input-group input-group-lg">
            <input type="number" class="form-control" step ="0.0001" id="flat-fee-for-sellers" value="{{flat_fee_for_sellers}}" placeholder="Flat fee">
            <span class="input-group-addon">$</span>
          </div>
        </div>
      </div>
    {{/if}}
  {{/with}}
</template>
